<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Xrm" connectionString="Url=https://{orgname}.crm.dynamics.com; Username=satya@yourdomain.onmicrosoft.com; Password=XXXXXXX;authtype=Office365;Timeout=20"/>-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>